---
import Analytics from "@vercel/analytics/astro";
import "@/styles/global.css";
import Footer from "@/UI/Footer";
import Navbar from "@/UI/Navbar";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
    <title>Bermelha | Amigurumis</title>
    <Analytics />
  </head>
  <body>
    <Navbar client:load />
    <section
      class="flex-1 flex flex-col gap-8 pt-24 py-8 px-4 sm:px-10 justify-center items-center sm:w-[90%] mx-auto"
    >
      <slot />
    </section>
    <Footer client:load />
  </body>
</html>
